.menu{
	all:unset;
	background-color: #020547;
	border-radius: 5px;
}

.btn-select {
	all:unset;
	background-color: #F8DDD7;
	padding:10px 50px;
	font-family: "Toledo";
	border-radius: 5px;
	color: #CD4648;
	font-size: 22px;
}

.btn-select:hover {
	background-color: #CD4648;
	color: white;
	transition: all .3s ease;
}
