
button {
	all:unset;
	background-color: #CD4648;
	padding-right:20px;
	font-family: "Toledo";
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 22px;
}
  
.bg-menu {
	background-image: url('../Ressources/menu_back.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-selection {
	background-image: url('../Ressources/MenuSelection/menu_selection.png');
background-size: cover;
background-repeat: no-repeat;
	
}
  
.listbox {
	all:unset;
}

.help {
	background-image: url("../Ressources/Plateau/pause.png");
}


.btn_niveau{
	padding: 10px;
	background-color: white;
}

.btn_niveau:hover {
	background-color: #9EDDFF;
}

.back {
	all:unset;
	
}
  
.btn-blue {
	all:unset;
	border-radius: 5px;
	background-color: #020547;	
	font-family: "Toledo";
	color: #FFFFFF;
	font-size: 22px;
}
  
box {
	all:unset;
}
  

  
.btn-help {
	all:unset;
	
}
.menu{
	all:unset;
	background-color: #020547;
	border-radius: 5px;
}

.menu-ext {
	background-color: #F8DDD7;
}

#main_window{
	background-color: #051531;
}

.btn-select {
	all:unset;
	background-color: #F8DDD7;
	padding:10px 50px;
	font-family: "Toledo";
	border-radius: 5px;
	color: #CD4648;
	font-size: 22px;
}
.btn-select:hover {
	background-color: #CD4648;
	color: white;
	transition: all .3s ease;
}

  
  .btn:hover {
	  background-color: #051531;
  }
  
  

  