.bg-tuto {
    all: unset;   
    background-image: url("../Ressources/Tuto/bg_tuto.svg");
    background-size: cover;
    background-color: #F8DDD7;
    background-repeat: no-repeat;
}

.btnDroite {
    background-image: url("../Ressources/Tuto/droite.svg");
    background-repeat: no-repeat;
}

.btnGauche {
    background-image: url("../Ressources/Tuto/gauche.svg");
    background-repeat: no-repeat;
}

button{
    all:unset;
}

button:hover {
    opacity: .7;
}