window{
	background-color:#D8BBB4;
	
}
button {
	background-color: #B8A7A2;
	background-image: none;
	border-color:#B8A7A2;
 	font-size: 18px;
}

button:hover {
  background-color: #2c4554;
  border-color:#2c4554;
  box-shadow: 0px 0px 5px 0.8px #2c4554

}
label {
  color: black;
}



